<%- include("partials/header"); -%>

<div class="container">
    <h2 class="light-bg mt-5"><%= brand.name %> Privacy Policy</h2>
    <h3 class="light-bg">Effective September 12, 2021. Last Revised August 12, 2021</h3>

    <div class="container-fluid light-bg" id="privacy what-we-collect">
        <p>We want you to understand how and why <%= brand.name %>, Inc. (“<%= brand.name %>,” “we” or “us”) collects, uses, and shares
            information about you when you use our sites, mobile apps, widgets, and other online products and services
            (collectively, the “Services”) or when you otherwise interact with us or receive a communication from us.
            This
            Privacy Policy applies to all of our Services including <%= brand.name %> Gifts, which maintains a separate privacy
            notice
            that incorporates this Privacy Policy by reference.</p>

        <h4>What We Collect (and How it is Used and Shared)</h4>

        <h5>Information You Provide to Us</h5>
        <p>We collect information you provide to us directly when you use the Services. This includes:</p>

        <h5>Account information</h5>
        <p>If you create a <%= brand.name %> account, we may require you to provide a username and password. Your username is
            public,
            and it doesn’t have to be related to your real name. You may also provide other account information, like an
            email address, bio, or profile picture. We also store your user account preferences and settings.</p>

        <h5>Content you submit</h5>
        <p>We collect the content you submit to the Services. This includes your posts and comments including saved
            drafts,
            videos you broadcast via RPAN, your messages with other users (e.g., private messages, chats, and modmail),
            and
            your reports and other communications with moderators and with us. Your content may include text, links,
            images,
            gifs, and videos. </p>

        <h5>Actions you take</h5>
        <p>We collect information about the actions you take when using the Services. This includes your interactions
            with
            content, like voting, saving, hiding, and reporting. It also includes your interactions with other users,
            such
            as following, friending, and blocking. We collect your interactions with communities, like your
            subscriptions or
            moderator status. </p>

        <h5>Transactional information</h5>
        <p>If you purchase products or services from us (e.g., <%= brand.name %> Premium or <%= brand.name %> Coins), we will collect certain
            information from you, including your name, address, email address, and information about the product or
            service
            you are purchasing. <%= brand.name %> uses industry-standard payment processor services (for example, Stripe) to handle
            payment information. </p>

        <h5>Other information </h5>
        <p>You may choose to provide other information directly to us. For example, we may collect information when you
            fill
            out a form, participate in <%= brand.name %>-sponsored activities or promotions, apply for a job, request customer
            support,
            or otherwise communicate with us.</p>


        <h5>Information We Collect Automatically</h5>
        <p>When you access or use our Services, we may also automatically collect information about you. This includes:
        </p>

        <h5>Log and usage data </h5>
        <p>We may log information when you access and use the Services. This may include your IP address, user-agent
            string,
            browser type, operating system, referral URLs, device information (e.g., device IDs), device settings,
            mobile
            carrier name, pages visited, links clicked, the requested URL, and search terms. Except for the IP address
            used
            to create your account, <%= brand.name %> will delete any IP addresses collected after 100 days. </p>

        <h5>Information collected from cookies and similar technologies </h5>
        <p>We may receive information from cookies, which are pieces of data your browser stores and sends back to us
            when
            making requests, and similar technologies. We use this information to improve your experience, understand
            user
            activity, personalize content and advertisements, and improve the quality of our Services. For example, we
            store
            and retrieve information about your preferred language and other settings. See our Cookie Notice for more
            information about how <%= brand.name %> uses cookies. For more information on how you can disable cookies, please see
            Your
            Choices below. </p>

        <h5>Location information</h5>


        <p>We may receive and process information about your location. For example, with your consent, we may collect
            information about the specific location of your mobile device (for example, by using GPS or Bluetooth). We
            may
            also receive location information from you when you choose to share such information on our Services,
            including
            by associating your content with a location, or we may derive your approximate location from other
            information
            about you, including your IP address. </p>

        <h5>Other Information</h5>


        <p>We may also use information from Apple's TrueDepth camera to provide enhanced functionality in the <%= brand.name %> app
            camera if you choose to use it. Information from the TrueDepth camera is used in real time — we don't store
            this
            information on our servers or share it with third parties.</p>


        <h5>Information Collected from Other Sources</h5>
        <p>We may receive information about you from other sources, including from other users and third parties, and
            combine that information with the other information we have about you. For example, we may receive
            demographic
            or interest information about you from third parties, including advertisers (such as the fact that an
            advertiser
            is interested in showing you an ad), and combine it with our own data using a common account identifier such
            as
            a hash of an email address or a mobile-device ID. You can control how we use this information to personalize
            the
            Services for you as described in Your Choices - Controlling Advertising and Analytics below.</p>

        <h5>Linked services</h5>
        <p>If you authorize or link a third-party service (e.g., an unofficial mobile app client) to access your <%= brand.name %>
            account, <%= brand.name %> receives information about your use of that service when it uses that authorization. Linking
            services may also cause the other service to send us information about your account with that service. For
            example, if you sign in to <%= brand.name %> with a third-party identity provider, that provider may share an email
            address
            with us. Information sharing with linked services is described later in this section. </p>

        <h5>Information collected from integrations </h5>
        <p>We also may receive information about you, including log and usage data and cookie information, from
            third-party
            sites that integrate our Services, including our embeds and advertising technology. For example, when you
            visit
            a site that uses <%= brand.name %> embeds, we may receive information about the web page you visited. Similarly, if an
            advertiser incorporates <%= brand.name %>’s ad technology, <%= brand.name %> may receive limited information about your activity
            on
            the advertiser’s site or app, such as whether you bought something from the advertiser. You can control how
            we
            use this information to personalize the Services for you as described in Your Choices - Controlling
            Advertising
            and Analytics below.</p>


        <h5>Information Collected by Third Parties </h5>

        <h5>Embedded content</h5>
        <p><%= brand.name %> displays some linked content in-line on the <%= brand.name %> services via “embeds.” For example, <%= brand.name %> posts
            that
            link to YouTube or Twitter may load the linked video or tweet within <%= brand.name %> directly from those services to
            your
            device so you don’t have to leave <%= brand.name %> to see it. In general, <%= brand.name %> does not control how third-party
            services
            collect data when they serve you their content directly via these embeds. As a result, embedded content is
            not
            covered by this privacy policy but by the policies of the service from which the content is embedded. </p>

        <h5>Audience measurement</h5>
        <p>We partner with audience measurement companies (including Quantcast and Nielsen) to learn demographic
            information
            about the population that uses <%= brand.name %>. To provide this demographic information, these companies collect
            cookie
            information to recognize your device.</p>


        <h5>Information Collected from Advertisers and Potential Advertisers</h5>
        <p>If you use <%= brand.name %> Ads (<%= brand.name %>’s self-serve ads platform at ads.<%= brand.name %>.com) we collect some additional
            information. To sign up for <%= brand.name %> Ads, you must provide your name, email address, and information about
            your
            company. If you purchase advertising services, you will need to provide transactional information as
            described
            above, and we may also require additional documentation to verify your identity. When using <%= brand.name %> Ads, we
            may
            record a session replay of your visit for customer service, troubleshooting, and usability research
            purposes.
        </p>

    </div>

</div>

<%- include("partials/footer") -%>